#allmovies-for-category{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding-top: 3%;
    flex-direction: column;
    align-items: center;
    &.ocultar{
        display: none;
    }
  
    #container-movies{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        margin-left: 8%;
        .movie-main{
            width: 17%;
            height: 380px;
            img{
                width: 88%;
            }
            p{
                font-weight: lighter;
                font-size: 14px;
                display: flex;
                flex-direction: column;
                color: rgba(8,28,36,.5);
                width: 80%;
            }
        }
        .movie-main:hover{
            transform: scale(1.03);
            transition-duration: 0.6s;
            cursor: pointer
        }
        .movie-main:hover p{
            color:black;
            cursor: pointer;
        }
        
    }
    #load-more {
        height: 93%; 
        width: 125px;
        margin-bottom: 25px;
        height: 32px;        
        border: 0;
        border: 1px solid;
        background-color: whitesmoke;
    }
    #load-more:hover{
        background-color: black;
        color: white;
    }
}
.title-cat{
    background-color: whitesmoke;
    height: 100%;
    padding-left: 70px;
    margin-bottom: 40px;
    width: 86%;
    display: flex;
    justify-content: space-between;
    
    #title-category{
        height: fit-content;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
    }
    #numbers-movies{
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        opacity: 0.6;
    }
}    
.ocultar-section{
    display: none;
}